<configuration>
    <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <property name="TRACE_ID" value="${TRACE_ID}"/>
    <property name="APID" value="SDKPOC01UT"/>
    <property name="SERVICE_ID" value="ApiTemplate"/>
    <property name="EVENT_SOURCE_HOST_NAME" value="${EVENT_SOURCE_HOST_NAME}"/>
    <property name="EVENT_SOURCE_IP" value="${EVENT_SOURCE_IP}"/>
    <property name="MC_SMC_ALIAS" value="${MC_SMC_ALIAS}"/>
    <property name="MC_PARAMETER" value="${MC_PARAMETER}"/>
    <property name="MC_OBJECT" value="${MC_OBJECT}"/>
    <property name="MC_OBJECT_OWNER" value="${MC_OBJECT_OWNER}"/>
    <property name="AP_OWNER" value="test owner"/>
    <property name="MC_OBJECT_CLASS" value="${MC_OBJECT_CLASS}"/>
    <property name="CUB_NOTIFY_MAIL" value="${CUB_NOTIFY_MAIL}"/>
    <property name="API_KEY" value="15e5ae8a-755c-479b-a5ea-acab4ea63daf"/>
    <property name="email" value="test@test.com"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="CRITICAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
<!--                <mdc> &lt;!&ndash; MDC variables are added automatically &ndash;&gt;-->
<!--                    <key>APID</key>-->
<!--                    <key>TRACE_ID</key>-->
<!--                    <key>LOG_KEY</key>-->
<!--                    <key>SUBJECT</key>-->
<!--                </mdc>-->
            </providers>
        </encoder>
    </appender>

    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.springframework.cloud.gcp.logging.StackdriverJsonLayout">
                <includeTraceId>true</includeTraceId>
                <includeSpanId>true</includeSpanId>
                <includeLevel>true</includeLevel>
                <includeThreadName>true</includeThreadName>
                <includeMDC>true</includeMDC>
                <includeLoggerName>true</includeLoggerName>
                <includeFormattedMessage>true</includeFormattedMessage>
                <includeExceptionInMessage>true</includeExceptionInMessage>
                <includeContextName>true</includeContextName>
                <includeMessage>false</includeMessage>
                <includeException>false</includeException>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="CLOUD"/>-->
    </root>

    <logger name="GCPLog" level="ERROR" additvity="false">
        <appender-ref ref="CLOUD"/>
    </logger>

</configuration>
